In [52]:
import pandas as pd 
import numpy as np

In [53]:
rts_2= pd.read_excel(r"C:\Users\centro.control\Downloads\Rts-Sem-29-2025.xlsx")
sitios_sap = pd.read_excel(r"C:\Users\centro.control\Desktop\Monitor CMC\Sitios SAP.xlsx")

In [54]:
#Actualizar cada semana con las fechas correspondientes  de Domingo a Sábado
diccionariofechas= {
    'Domingo': '03/08/2025',
    'Lunes': '04/08/2025',
    'Martes': '05/08/2025',
    'Miercoles': '06/08/2025',
    'Jueves': '07/08/2025',
    'Viernes': '08/08/2025',
    'Sabado': '09/08/2025',
}

In [55]:
def rts_dia(dia):
    rts_x_dia = rts_2[rts_2[dia].notna() ][ ['Nombre', 'Sitio donde acude', 'Turno'] ]
    rts_x_dia['Dia semana'] = dia
    return rts_x_dia

def dia_a_fecha(dia):
    return diccionariofechas.get(dia, 'fecha no encontrada')

dias_semana = ['Domingo', 'Lunes', 'Martes', 'Miercole', 'Jueves', 'Viernes', 'Sabado']

In [56]:
rts_limpios = pd.DataFrame()
for dia in dias_semana:
    aux = []
    aux = pd.DataFrame(rts_dia(dia))
    rts_limpios = pd.concat([rts_limpios, aux], ignore_index=True)

In [57]:
rts_limpios['fecha'] = rts_limpios['Dia semana'].apply(dia_a_fecha)
rts_limpios['Nomenclatura'] = 'RT'
rts_limpios['Asistencia']= 1
cols = [
    'candidate_id', 'NumWeek', 'employment',
    'incidencia', 'Significado','Tipo'
]
rts_limpios[cols] = np.nan

In [58]:
sitios_sap

,SAP,Razón Social OK,SITIO,RFC,id,NOMBRE COMERCIAL,EJECUTIVO OPS 2025,ZONA OPS,CATEGORIA DE SITIO,DIRECCIÓN DEL SITIO,LATITUD,LONGITUD
0,CL00101,4E GLOBAL,4E GLOBAL CEDIS,EGL160502SC2,363,CL00101 4E GLOBAL CEDIS,Karina Sánchez,NORTE,MENOR,"MANZANA 005,54769 CUAUTITLAN IZCALLI, MEX",19.611039,-99.215023
1,CL00102,4E GLOBAL,4E GLOBAL PLANTA,EGL160502SC2,362,CL00102 4E GLOBAL PLANTA,Karina Sánchez,NORTE,CHICO,"AVENIDA 1 NORTE 15,PARQUE INDUSTRIAL CARTAGENA...",19.644833,-99.156900
2,CL00401,"ALASKA AIRLINES, INC",ALASKA AIRLINES,AAI890301JJ3,347,CL00401 ALASKA AIRLINES,Abel Vázquez,AUDITORIO,MENOR,"REFORMA #483, COL. CUAUHTÉMOC, ALCALDÍA CUAUHT...",19.424332,-99.174476
3,CL00301,AMERICAN AIRLINES INC,AMERICAN AIRLINES,AAI580414GA9,364,CL00301 AMERICAN AIRLINES,Abel Vázquez,AUDITORIO,MENOR,"Av. P.º de la Reforma 483, Cuauhtémoc, 06600 C...",19.424629,-99.174302
4,CL00501,AMERICAN EXPRESS COMPANY MEXICO,AMERICAN EXPRESS,AEC810901298,251,CL00501 AMERICAN EXPRESS PATRIOTISMO,Ángel Cervantes,SUR,GRANDE,"AV. PATRIOTISMO 635, CD. DE LOS DEPORTES, BENI...",19.381645,-99.184100
...,...,...,...,...,...,...,...,...,...,...,...,...
195,NaN,NaN,CAF PURINA,NaN,6,CAF PURINA,NaN,NaN,NaN,NaN,NaN,NaN
196,NaN,NaN,LIVERPOOL JILOTEPEC 5 ADICIONALES,NaN,357,LIVERPOOL JILOTEPEC 5 ADICIONALES,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,LIVERPOOL JILOTEPEC BARRIDO,NaN,357,LIVERPOOL JILOTEPEC BARRIDO,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,PRE ALTAS,NaN,341,CCGENERI PRE ALTAS,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,CONTINNUO EVENTOS,NaN,383,CONTINNUO EVENTOS,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
rts_limpios= pd.merge(
    rts_limpios,
    sitios_sap[['NOMBRE COMERCIAL', 'SITIO', 'id']],
    left_on='Sitio donde acude',
    right_on='NOMBRE COMERCIAL',
    how='left'
)

In [60]:
rts_limpios

,Nombre,Sitio donde acude,Turno,Dia semana,fecha,Nomenclatura,Asistencia,candidate_id,NumWeek,employment,incidencia,Significado,Tipo,NOMBRE COMERCIAL,SITIO,id
0,RINCON CRUZ ROSARIO AIDEE,CL00601 PLAZA ARKANA NORTE,MATUTINO,Domingo,03/08/2025,RT,1,NaN,NaN,NaN,NaN,NaN,NaN,CL00601 PLAZA ARKANA NORTE,PLAZA ARKANA NORTE,322
1,MARTINEZ ACUA GUADALUPE,CL02201 EUROVI ACOXPA,MATUTINO,Domingo,03/08/2025,RT,1,NaN,NaN,NaN,NaN,NaN,NaN,CL02201 EUROVI ACOXPA,EUROVI ACOXPA,355
2,TEZOCO QUIAHUA NICOLASA,CL03006 LIVERPOOL INTERLOMAS,MATUTINO,Domingo,03/08/2025,RT,1,NaN,NaN,NaN,NaN,NaN,NaN,CL03006 LIVERPOOL INTERLOMAS,LIVERPOOL INTERLOMAS,183
3,SANCHEZ JIMENEZ ANA LAURA,CL00302 UNITED AIRLINES,VESPERTINO,Lunes,04/08/2025,RT,1,NaN,NaN,NaN,NaN,NaN,NaN,CL00302 UNITED AIRLINES,UNITED AIRLINES,317
4,PEREZ LOPEZ MAGDALENA,CL00501 AMERICAN EXPRESS PATRIOTISMO,NOCTURNO,Lunes,04/08/2025,RT,1,NaN,NaN,NaN,NaN,NaN,NaN,CL00501 AMERICAN EXPRESS PATRIOTISMO,AMERICAN EXPRESS,251
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,SALDAÑA NUÑEZ IVETTE IVONNE,CL04701 SOHO HOUSE,NOCTURNO,Sabado,09/08/2025,RT,1,NaN,NaN,NaN,NaN,NaN,NaN,CL04701 SOHO HOUSE,SOHO HOUSE,376
217,SANCHEZ ALVARADO ROBERTO,CL04701 SOHO HOUSE,NOCTURNO,Sabado,09/08/2025,RT,1,NaN,NaN,NaN,NaN,NaN,NaN,CL04701 SOHO HOUSE,SOHO HOUSE,376
218,TAVERA SANCHEZ ADRIANA JANETH,CL04701 SOHO HOUSE,NOCTURNO,Sabado,09/08/2025,RT,1,NaN,NaN,NaN,NaN,NaN,NaN,CL04701 SOHO HOUSE,SOHO HOUSE,376
219,GONZALEZ DELGADO VERONICA,CL05501 ZAGO BAJA CALIFORNIA,VESPERTINO,Sabado,09/08/2025,RT,1,NaN,NaN,NaN,NaN,NaN,NaN,CL05501 ZAGO BAJA CALIFORNIA,ZAGO BAJA CALIFORNIA,245
220,PATIÑO LOPEZ NORMA CLAUDIA,CL05801 DYNACAST,VESPERTINO,Sabado,09/08/2025,RT,1,NaN,NaN,NaN,NaN,NaN,NaN,CL05801 DYNACAST,DYNACAST,379

In [61]:
rts_limpios = rts_limpios[['id',
                    'candidate_id',
                    'SITIO',
                    'Nombre',
                    'employment',
                    'Turno',
                    'NumWeek',
                    'incidencia',
                    'fecha',
                    'Nomenclatura',
                    'Significado',
                    'Asistencia',
                    'Tipo']]

In [62]:
rts_limpios.rename(columns={
    '': 'sitio',
    'Nombre': 'nombre_completo',
    'Turno': 'turno'})

,id,candidate_id,SITIO,nombre_completo,employment,turno,NumWeek,incidencia,fecha,Nomenclatura,Significado,Asistencia,Tipo
0,322,NaN,PLAZA ARKANA NORTE,RINCON CRUZ ROSARIO AIDEE,NaN,MATUTINO,NaN,NaN,03/08/2025,RT,NaN,1,NaN
1,355,NaN,EUROVI ACOXPA,MARTINEZ ACUA GUADALUPE,NaN,MATUTINO,NaN,NaN,03/08/2025,RT,NaN,1,NaN
2,183,NaN,LIVERPOOL INTERLOMAS,TEZOCO QUIAHUA NICOLASA,NaN,MATUTINO,NaN,NaN,03/08/2025,RT,NaN,1,NaN
3,317,NaN,UNITED AIRLINES,SANCHEZ JIMENEZ ANA LAURA,NaN,VESPERTINO,NaN,NaN,04/08/2025,RT,NaN,1,NaN
4,251,NaN,AMERICAN EXPRESS,PEREZ LOPEZ MAGDALENA,NaN,NOCTURNO,NaN,NaN,04/08/2025,RT,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,376,NaN,SOHO HOUSE,SALDAÑA NUÑEZ IVETTE IVONNE,NaN,NOCTURNO,NaN,NaN,09/08/2025,RT,NaN,1,NaN
217,376,NaN,SOHO HOUSE,SANCHEZ ALVARADO ROBERTO,NaN,NOCTURNO,NaN,NaN,09/08/2025,RT,NaN,1,NaN
218,376,NaN,SOHO HOUSE,TAVERA SANCHEZ ADRIANA JANETH,NaN,NOCTURNO,NaN,NaN,09/08/2025,RT,NaN,1,NaN
219,245,NaN,ZAGO BAJA CALIFORNIA,GONZALEZ DELGADO VERONICA,NaN,VESPERTINO,NaN,NaN,09/08/2025,RT,NaN,1,NaN
220,379,NaN,DYNACAST,PATIÑO LOPEZ NORMA CLAUDIA,NaN,VESPERTINO,NaN,NaN,09/08/2025,RT,NaN,1,NaN

In [63]:
rts_limpios

,id,candidate_id,SITIO,Nombre,employment,Turno,NumWeek,incidencia,fecha,Nomenclatura,Significado,Asistencia,Tipo
0,322,NaN,PLAZA ARKANA NORTE,RINCON CRUZ ROSARIO AIDEE,NaN,MATUTINO,NaN,NaN,03/08/2025,RT,NaN,1,NaN
1,355,NaN,EUROVI ACOXPA,MARTINEZ ACUA GUADALUPE,NaN,MATUTINO,NaN,NaN,03/08/2025,RT,NaN,1,NaN
2,183,NaN,LIVERPOOL INTERLOMAS,TEZOCO QUIAHUA NICOLASA,NaN,MATUTINO,NaN,NaN,03/08/2025,RT,NaN,1,NaN
3,317,NaN,UNITED AIRLINES,SANCHEZ JIMENEZ ANA LAURA,NaN,VESPERTINO,NaN,NaN,04/08/2025,RT,NaN,1,NaN
4,251,NaN,AMERICAN EXPRESS,PEREZ LOPEZ MAGDALENA,NaN,NOCTURNO,NaN,NaN,04/08/2025,RT,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,376,NaN,SOHO HOUSE,SALDAÑA NUÑEZ IVETTE IVONNE,NaN,NOCTURNO,NaN,NaN,09/08/2025,RT,NaN,1,NaN
217,376,NaN,SOHO HOUSE,SANCHEZ ALVARADO ROBERTO,NaN,NOCTURNO,NaN,NaN,09/08/2025,RT,NaN,1,NaN
218,376,NaN,SOHO HOUSE,TAVERA SANCHEZ ADRIANA JANETH,NaN,NOCTURNO,NaN,NaN,09/08/2025,RT,NaN,1,NaN
219,245,NaN,ZAGO BAJA CALIFORNIA,GONZALEZ DELGADO VERONICA,NaN,VESPERTINO,NaN,NaN,09/08/2025,RT,NaN,1,NaN
220,379,NaN,DYNACAST,PATIÑO LOPEZ NORMA CLAUDIA,NaN,VESPERTINO,NaN,NaN,09/08/2025,RT,NaN,1,NaN

In [64]:
# rts_limpios.to_excel(r"C:\Users\centro.control\Documents\Limpieza de rts\Rts-Sem-29-2025-Limpio.xlsx",index=False)