In [206]:
import pandas as pd 
from datetime import datetime

In [207]:
df = pd.read_excel(r"C:\Users\centro.control\Downloads\CATALOGO AGOSTO SEM 36 OK.xlsx")

In [208]:
df["FECHA ALTA"] = pd.to_datetime(df["FECHA ALTA"], errors="coerce")
df["FECHA BAJA"] = pd.to_datetime(df["FECHA BAJA"], errors="coerce")

In [209]:
df["Dias laborados"] = (df["FECHA BAJA"] - df["FECHA ALTA"]).dt.days

In [210]:
df["FECHA ALTA"] = df["FECHA ALTA"].dt.date
df["FECHA BAJA"] = df["FECHA BAJA"].dt.date

In [211]:
df_bajas = df[df['ESTATUS']== 'B']

In [215]:
df_bajas

,CLAVE,NOMBRE,PUESTO,SITIO,SD,FECHA ALTA,FECHA BAJA,ESTATUS,SEXO,Dias laborados
1,1,PEREZ CONTRERAS MARTINA,SUPERVISOR DE SITIO,CL03903 PLAY CITY OASIS,248.93,1997-08-04,2024-06-04,B,F,9801.0
3,3,LOPEZ LUCIANO FELICIANO PEDRO,SUPERVISOR DE SITIO,CL00201 TORRE ACUARIO,285.60,1999-10-01,2025-02-14,B,M,9268.0
4,4,GUERRERO IBARRA MA. GUADALUPE,OPERADOR DE LIMPIEZA,CL01302 CUMBRES SECUNDARIA,280.00,2001-02-28,2025-07-14,B,F,8902.0
5,82,Velazquez Hernandez Martha,OPERADOR DE LIMPIEZA,ZSOFTTEK NARVARTE,172.87,2002-08-18,2022-02-19,B,F,7125.0
6,5,Contreras Muñiz Irene,OPERADOR DE LIMPIEZA,ZPLAZA MAGNA,172.87,2005-12-04,2022-01-28,B,F,5899.0
...,...,...,...,...,...,...,...,...,...,...
11465,12652,HUERTA ZEPEDA SANDRA LILIANA,OPERADOR DE LIMPIEZA,CL03010 LIVERPOOL LINDAVISTA,280.00,2025-08-29,2025-08-26,B,F,-3.0
11468,16800,MEJIA JIMENEZ ADELA,OPERADOR DE LIMPIEZA,CL00601 PLAZA ARKANA NORTE,280.00,2025-08-29,2025-08-29,B,F,0.0
11478,16797,SILVA LOPEZ LAURA ADANAY,OPERADOR DE LIMPIEZA,CL03903 PLAY CITY OASIS,280.00,2025-08-29,2025-08-29,B,F,0.0
11483,12193,MONTES GARCIA MAGALI DELFINA,OPERADOR DE LIMPIEZA,CL02901 KRISPY KREME,280.00,2025-08-30,2024-12-09,B,F,-264.0
11487,16812,DE LA LUZ ZAMORA LEONARDO ADRIAN,PULIDOR,CL03006 LIVERPOOL INTERLOMAS,280.00,2025-08-30,2025-08-30,B,M,0.0

In [216]:
df_bajas.groupby(by='SEXO')['Dias laborados'].mean()

SEXO
F    128.053817
M     82.150674
Name: Dias laborados, dtype: float64

In [212]:
df_bajas.to_excel(r"C:\Users\centro.control\Documents\Analisis de bajas\analisisi de bajasOK.xlsx", index= False)